// ___________________________________________________________________
// Header Styles
// ___________________________________________________________________

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media (min-width: 43.125rem) {
    padding-top: 2.125rem;
    padding-bottom: 4.25rem;
  }
}

.logo {
  height: 3rem;
  width: 3rem;

  @media (min-width: 43.125rem) {
    height: 4rem;
    width: 4rem;
  }
}
