// ___________________________________________________________________
// Base Styles
// ___________________________________________________________________

:root {
  // Colors
  --primary-color: hsl(0 0% 1%);
  --secondary-color: hsl(0 0% 100%);
  --tertiary-color: hsl(30 5% 44%); // Darkened color to pass AA contrast ratio
  --bg-blue: hsl(252 66% 62%);
  --bg-cream: hsl(28 100% 97%);
  --bg-green: hsl(172 46% 57%);
  --bg-orange: hsl(28 89% 67%);
  --bg-pink: hsl(0 78% 79%);
  --bg-purple: hsl(314 45% 23%);
  --bg-red: hsl(7 77% 66%);
  // Text
  --font-weight--bold: 700;
  --font-weight--regular: 500;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-cream);
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: var(--font-weight--regular);
  line-height: 1.3;
  min-height: 100vh;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

// Screen reader styles
.sr-only {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
